:host {
  display: block;
  background-image: url("/assets/images/bg.png");
  background-size: cover;
  height: 100vh;
}
.flex {
  min-height: calc(100vh - 80px); /* Navbar yüksekliği kadar boşluk bırakın */
}
